.profile_container {
    width: 60%;
    margin: 40px auto;
    padding: 40px 0;
    background: var(--yellow);
    border-radius: 20px;
    display: block;
}
.profile_container h2 {
    text-align: center;
    text-transform: uppercase;
}
.profile_container p {
    padding: 20px 40px;
}
.noncontainer{
    display: none;
}